# config file for ansible -- https://ansible.com/
# ===============================================

# nearly all parameters can be overridden in ansible-playbook
# or with command line flags. ansible will read ANSIBLE_CONFIG,
# ansible.cfg in the current working directory, .ansible.cfg in
# the home directory or /etc/ansible/ansible.cfg, whichever it
# finds first

[defaults]

inventory = ./ansible.hosts
forks = 1000
#log_path = ./data/ansible.log

ansible_python_interpreter=/usr/bin/python3

timeout = 60
gather_timeout = 60

ssh_args = -t -t -oBatchMode=yes

# where .retry files go
retry_files_save_path = ansible_retries

callback_whitelist = profile_tasks, timer

# Use the YAML callback plugin.
stdout_callback = yaml
# Use the stdout_callback when running ad-hoc commands.
#bin_ansible_callbacks = True  # nope, this would be bad, due to bug in ansible

[ssh_connection]
retries=1
#pipelining = True

[callback_profile_tasks ]
task_output_limit = 100
