<html>
<head>
</head>
<body>
    <script src="./static/sorttable.js"></script>

    <h1>
        Neocortix Load Test Example
    </h1>
    <h2>
    Stats by Region
    </h2>
    {{ ltRegionTable }}
    
    <h2>
    Stats by Worker Node
    </h2>
    {{ ltWorkerTable }}

    <h2>
    Worst Cases
    </h2>
    {{ ltWorstCasesTable }}
</body>

</html>